NODE_ENV=development
PORT=3077
APP_NAME=test-app
REDIS_URL=kv://redis-url
REDIS_HOST=${REDIS_HOST}
REDIS_PORT=${REDIS_PORT}
DATAPLANE_HOST=${DATAPLANE_HOST}
DATAPLANE_PORT=${DATAPLANE_PORT}
DB_HOST=${DB_HOST}
DB_PORT=${DB_PORT}

